root=true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
indent_size = 2

# [*.{js,ts,json,mjs}]
# indent_size = 2

# not yet supported
# charset = utf-8
